.form-main-container{
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
  min-height: 100vh;
  background-color: var(--blue50);
}
.form-main-container .form-cnt{
  width: 80%;
  height: fit-content;
  background-color: var(--blue100);
  display: grid;
  place-items: center;
}

.step-cnt{
  background-color: var(--white);
  width: 80%;
  display: grid;
  grid-template-columns: 4fr 7fr;
  padding: 20px;
  height: 90%;
  padding-bottom: 0px;
}

h2{
  color: var(--blue950);
}

p{
  color: var(--grey500);
  margin-top: 10px;
}

.input-cnt{
  display: flex;
  flex-direction: column;
}
button{
  cursor: pointer;
}
.back{
  all: unset;
  color: var(--grey500);
  cursor: pointer;
  font-size: 14px;
}
.prev-next-cnt{
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.prev-next-cnt .next{
  background-color: rgb(10, 10, 138);
  color:var(--white) ;
  padding: 8px;
  border-radius: 12px;
}

.hidden{
visibility: hidden;
}

@media screen and (max-width: 1024px){
  .step-cnt{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    padding: 0px;

  }
  .form-main-container .form-cnt{
  }
}