.form-main-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  min-height: 100vh;
  background-color: var(--blue50);
}
.form-main-container .form-cnt{
  width: 80%;
  height:90% ;
  background-color: var(--blue100);
  display: grid;
  place-items: center;
}

.step-content-cnt{
  background-color: var(--white);
  width: 80%;
  display: grid;
  grid-template-columns: 3fr 7fr;
  padding: 20px;
  min-height: 90%;
  padding-bottom: 0px;
}

h2{
  color: var(--blue950);
}

p{
  color: var(--grey500);
  margin-top: 10px;
}

.input-cnt{
  display: flex;
  flex-direction: column;
}
button{
  cursor: pointer;
}
.back{
  all: unset;
  color: var(--grey500);
  cursor: pointer;
  font-size: 14px;
}
.prev-next-cnt{
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  bottom: 7%;
  right: 20px;
}

.prev-next-cnt .next{
  background-color: rgb(10, 10, 138);
  color:var(--white) ;
  padding: 8px;
  border-radius: 12px;
  margin-right: 7%;
}

.hidden{
  visibility: hidden;
}

@media screen and (max-width: 1024px){
  .form-main-container .form-cnt{
  width: 100%;
  height:100svh;
  position: relative;
  top: 0;
}
.prev-next-cnt{
  display: flex;
  position: absolute;
  width: 90%;
  bottom: -7rem;
  right: 20px;
}

.form-content-cnt{
  padding: 20px;
  position: relative;
  top: -120px;
  background-color: var(--blue100);
  padding-bottom: 0;
}
  .step-content-cnt{
    width: 100%;
    height: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    padding: 0px;
  }

}