.pick-hero-cnt{
    margin-top: 2rem;
}
.pick-hero{
    display: flex;
    column-gap: 1.2rem;
    border: 1px solid var(--blue300);
    border-radius: 12px;
    padding: 1rem 1.3rem;
    cursor: pointer;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.pick-cnt{
    display: flex;
    column-gap: 1.4rem;
}
.pick-hero .schedule{
  color: #9e3eff;
}
