.step-count-cnt{
  height: 80%;
  border-radius: 8px;
  padding: 8px;
  position: relative;
  background-image: url('../images/bg-sidebar-desktop.svg');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
.step-mb{
  display: none;
}
@media screen and (max-width: 1024px){
.step-count-cnt{
  height: fit-content;
  width: 100%;
  padding: 0px;
  background-image: url('../images/bg-sidebar-mobile.svg');
  background-size: cover;
}
  .step-desctop{
    display: none;
  }
  .step-count-cnt{
    display: flex;
  }
  .step-mb{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 200px;
  }
}