.step-count-cnt{
  min-height: 80%;
  border-radius: 8px;
  padding: 8px;
  background-image: url('../images/bg-sidebar-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 20px;
}
.step-mb{
  display: none;
}
@media screen and (max-width: 1024px){
.step-count-cnt{
  display: flex;
  width: 100%;
  height: 240px;
  padding: 0px;
  background-image: url('../images/bg-sidebar-mobile.svg');
  background-size: cover;
  transform: translateY(-54px);
}
  .step-desctop{
    display: none;
  }

  .step-mb{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 240px;
  }
}