.finish-service-cnt{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.8rem;
    row-gap: 1.2rem;
}

.finish-service-cnt p{
    text-align: center;
}